/* Var Declare */

:root {
  --lightPink: #f5d9d9;
  --medPink: #e8c6c6;
  --darkPink: #964646;
  --darkMono: #000;
  --lightMono: #fff;
  --shadow: rgba(0, 0, 0, 0.2);
}

/* Universal Styles */

* {
  font-family: "Josefin Sans", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
  color: var(--darkPink);
}

* h1 {
  font-family: "Josefin Slab", "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 28px !important;
}

* h2 {
  font-family: "josefin Slab", "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
}

/* Navigation / Header */

.navbar {
  background-color: var(--lightPink);
}

.navbar * {
  color: var(--darkPink);
  font-size: 16px;
}

.navbar-item {
  color: var(--darkPink) !important;
}

.navbar-menu p {
  pointer-events: none;
}

#subHeader {
  background-color: var(--medPink);
  padding: 0.2rem;
  padding-left: 0.8rem;
  box-shadow: 0 5px 10px var(--shadow);
}

/* Hero Image */

#heroImg {
  background-image: url("../images/clothes-pexels-lumn-322207.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  pointer-events: none;
}

/* Weather Widget */

#weatherWidget {
  flex-direction: row-reverse;
}

#weatherWidget .card {
  outline: solid 10px var(--medPink);
  border-radius: 10px;
}

#weatherWidget * {
  color: var(--darkMono);
}

#iconContainer {
  background-color: var(--medPink);
  border-radius: 2.5rem;
}

/* Filter Bar */

#filterBar {
  box-shadow: 0 0 10px var(--shadow);
  background-color: var(--medPink);
}

#filterBar button {
  margin-right: 1.5rem;
}

.js-modal-trigger {
  background-color: var(--medPink) !important;
  border: none;
  border-radius: 1.5rem;
  margin: 0;
}

.js-modal-trigger:hover {
  background-color: var(--lightPink) !important;
  color: var(--darkMono);
}

.sortIcon {
  font-weight: bolder;
}

/* Sidebar */

#sidebarContainer {
  background-color: var(--lightPink);
  padding: 2rem;
}

#sidebarContainer a {
  color: var(--darkPink);
}

#sidebarContainer a:hover {
  color: var(--darkMono);
}

aside {
  background-color: var(--lightMono);
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

aside * {
  color: var(--darkMono);
}

aside a {
  color: var(--darkMono) !important;
}

aside a:hover {
  color: var(--darkPink) !important;
}

aside ul li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

aside button {
  width: 45%;
  min-width: max-content;
  background-color: var(--medPink) !important;
  color: var(--darkPink) !important;
}

aside button:hover {
  background-color: var(--lightPink) !important;
  color: var(--darkMono) !important;
  border: none;
}

.menu-label {
  color: var(--darkMono);
  font-size: medium;
  font-family: "Josefin Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-weight: bolder;
}

#paletteContainer {
  padding: 1rem;
  box-shadow: none;
  border-radius: 0;
  border-bottom: solid 2px var(--medPink);
}

#palette .box {
  background-color: var(--medPink);
  width: 5rem;
  height: 5rem;
  border: solid 1px var(--darkMono);
  border-radius: 2.5rem;
  margin-top: -1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#content {
  transition: margin-left 0.5s;
  padding: 16px;
} */

/* Sidebar Open */
/* .sidebar.open {
  width: 250px;
}

#content.open {
  margin-left: 250px;
} */

/* Item Gallery */

#itemGallery {
  box-shadow: inset 0 0 10px var(--shadow);
}

#itemGallery * {
  color: var(--darkPink);
}

#itemGallery button {
  background-color: var(--medPink);
  color: var(--lightMono);
  box-shadow: 0 0.25em 0.5em rgba(10, 10, 10, 0.1);
  padding: 1rem;
  border-radius: 10px;
}

.tile.is-child {
  background-color: var(--lightPink) !important;
  border-radius: 10px;
}

.tile.is-ancestor {
  margin-top: 0;
}

.buttonContainer {
  width: auto !important;
  align-items: center;
}

/* Footer */

.footer {
  background-color: var(--medPink);
  margin-bottom: 0 !important;
}

.footer * {
  color: var(--lightMono);
}

#vertLine {
  background-color: var(--lightMono);
  width: 3px;
}

/* Modals */

.modal * {
  color: var(--darkMono);
}

.message-header {
  background-color: var(--medPink);
}

.message-header * {
  color: var(--lightMono);
}

.message-body li {
  list-style: circle;
  margin-left: 2rem;
}

#linkBtn {
  background-color: var(--medPink);
  color: var(--darkPink);
  margin-left: 0;
}

#linkBtn:hover {
  background-color: var(--lightPink);
  border-color: var(--darkPink);
  color: var(--darkMono);
}
